/*
@package: wwd blankslate
*/
@import "_variables";

$variations: (
  light: (
    function: lighten,
    parameters: 10%
  ),
  dark: (
    function: darken,
    parameters: 10%
  ),
  fade: (
    function: rgba,
    parameters: .7
  ),
  gray: (
    function: grayscale
  ),
  shade: (
    function: mix,
    parameters: white 80%
  )
);

@function color-variation($color, $variation: false) {

    @if map-has-key($colors, $color) {
        $color: map-get($colors, $color);
    } @else {
        @if type-of($color) != color {
            @error "Invalid color name: `#{$color}`.";
        }
    }

    @if $variation {
        @if not map-has-key($variations, $variation) {
            @error "Invalid $variation: `#{$variation}`.";
        } @else {
            $this-variation: map-get($variations, $variation);
            $args: join(map-get($this-variation, function), $color);
            @if map-get($this-variation, parameters) {
                $args: join($args, map-get($this-variation, parameters));
            }
            @return call($args...);
        }
    }
    @return $color;
}

/*  shortened function name */
@function cv($color, $variation:false) {
    @return color-variation($color, $variation);
}

@mixin overlay-image-container($height: 30vh, $bg-color-rgba: rgba(0,0,0,0.15),
    $box-shadow: inset 0 0 5em rgba(0,0,0,0.85)) {

    display: block;
    position: relative;

    &, > img {
        height: $height;
    }
    
    img {
        width: 100%;
    }

    &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $bg-color-rgba;
        box-shadow: $box-shadow;
    }    
}

@mixin md-btn {
    border-radius: 0 !important;
    padding: 8px 50px !important;
    @include button-variant(#fff, cv(illuminating-emerald, dark), $hover-background: cv(illuminating-emerald, light));
    color: cv(illuminating-emerald, dark) !important;
    border-color: cv(illuminating-emerald, dark) !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    background-color: transparent !important;
    @extend .btn;
    border-width: 2px !important;
    font-size: 14px !important;
    font-weight: 500 !important;

    &:focus {
        color: #fff !important;
        background-color: cv(illuminating-emerald, light) !important;
        border-color: cv(illuminating-emerald, light) !important;
    }

    &:hover {
        color: #fff !important;
        background-color: cv(illuminating-emerald, dark) !important;
        border-color: cv(illuminating-emerald, dark) !important;
        text-decoration: none !important;
    }
}
